extends layout

block content
    div(ng-controller="routerList")
        h2 Lista dostępych restów:
        table
            thead
            tr
                th id
                th path
                th action
            tbody
                tr(ng-repeat="route in routers")
                    td(ng-bind="route.index")
                    td
                        input(type="text" ng-model="route.path")
                    td
                        button(ng-click="remove($index)") Kasuj
                        button(ng-click="update($index)") Aktualizuj
        h2 Dodawanie nowego rest'a
        div
            input(ng-model="restNew.path")
            textarea(ng-model="restNew.fn" name="fn") function x(q,w){w.send("OK");}
            button(ng-click="add()") Dodaj

