extends layout

block content
    nav.navbar.navbar-default.navbar-static-top
        .container
            .navbar-header
                a.navbar-brand(ui-sref="main") Virtual REST router.
            div
                ul.nav.navbar-nav
                    li: a(ui-sref="function") Funkcje (własne)
                    li: a(ui-sref="function") Funkcje (wbudowane)
                    li: a(ui-sref="route") Trasy
                    li: a(ui-sref="header") Nagłówki (własne)
                    li: a(ui-sref="header") Nagłówki (wbudowane)
                    li: a(ui-sref="header") Sesje
                    li: a(ui-sref="header") Autoryzacja
    div.view.container.row(ui-view)


